---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=bf6e68734c8b2cafd8fd19557bafb002&exclude=minutely&lat=58.36&lon=49.39&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":58.36,"lon":49.39,"timezone":"Europe/Kirov","timezone_offset":10800,"current":{"dt":1635126282,"sunrise":1635133265,"sunset":1635167501,"temp":-0.36,"feels_like":-5.31,"pressure":1014,"humidity":84,"dew_point":-2.45,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.91,"wind_deg":350,"wind_gust":9.63,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"}],"snow":{"1h":0.56}},"hourly":[{"dt":1635123600,"temp":-0.41,"feels_like":-5.6,"pressure":1014,"humidity":86,"dew_point":-2.22,"uvi":0,"clouds":100,"visibility":727,"wind_speed":5.3,"wind_deg":352,"wind_gust":10.4,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.72,"snow":{"1h":0.36}},{"dt":1635127200,"temp":-0.36,"feels_like":-5.31,"pressure":1014,"humidity":84,"dew_point":-2.45,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.91,"wind_deg":350,"wind_gust":9.63,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"}],"pop":0.65,"snow":{"1h":0.56}},{"dt":1635130800,"temp":-0.37,"feels_like":-5.33,"pressure":1014,"humidity":82,"dew_point":-2.75,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.92,"wind_deg":345,"wind_gust":9.63[...]
