---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<APPID>&exclude=minutely&lat=58.36&lon=49.39&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":58.36,"lon":49.39,"timezone":"Europe/Kirov","timezone_offset":10800,"current":{"dt":1636340774,"sunrise":1636344861,"sunset":1636375083,"temp":0.79,"feels_like":-3.03,"pressure":1010,"humidity":87,"dew_point":-0.99,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.6,"wind_deg":190,"wind_gust":9.79,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"snow":{"1h":0.21}},"hourly":[{"dt":1636340400,"temp":0.79,"feels_like":-3.03,"pressure":1010,"humidity":87,"dew_point":-0.99,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.6,"wind_deg":190,"wind_gust":9.79,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.2,"snow":{"1h":0.21}},{"dt":1636344000,"temp":0.86,"feels_like":-3.28,"pressure":1010,"humidity":87,"dew_point":-0.93,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4.08,"wind_deg":185,"wind_gust":10.77,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13n"}],"pop":0.2,"snow":{"1h":0.56}},{"dt":1636347600,"temp":0.89,"feels_like":-3.13,"pressure":1010,"humidity":90,"dew_point":-0.49,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.91,"wind_deg":175,"wind_gust":9.65,"w[...]
